---
import Layout from '../layouts/Layout.astro';
import landingSVG from '../images/landing_bg.svg'
import Header from "../components/Header.astro";
---

<Layout title="Jason LaPierre">
	<div class="absolute inset-0 -z-20 bg-cover bg-no-repeat bg-center" style={`background-image: url('${landingSVG['src']}');`}></div>

	<section>
		<Header />
		<div>
			<!-- Your main content here -->
		</div>
	</section>
</Layout>

<style>

</style>
