---
import Layout from '../layouts/Layout.astro';
import landingSVG from '../images/landing_bg.svg'
import Header from "../components/header/Header.astro";
---

<Layout title="Jason LaPierre">
	<div class="absolute inset-0 -z-20 bg-cover bg-no-repeat bg-center" style={`background-image: url('${landingSVG['src']}');`}></div>

	<section>
		<Header />
		<div class="flex flex-col justify-center items-center mt-20 text-xl font-black text-wrap ">
			<!-- Your main content here -->
			Check back later, I'm currently under construction.
		</div>
	</section>
</Layout>

<style>

</style>
