---
import Layout from '../layouts/Layout.astro';
import '../styles/globals.css';


---

<Layout title="Welcome to Astro.">
	<svg style="height: 0; width: 0; position: absolute;">
		<filter id="blue-tint">
			<feColorMatrix type="matrix"
						   values="0 0 1 0 0
              0 0 1 0 0
              0 0 1 0 0
              0 0 0 1 0" />
		</filter>
	</svg>

	<main class="h-screen w-screen bg-gradient-to-r from-cyan-500 to-blue-500 flex justify-center items-center flex-col">
		<div class="absolute right-0 bottom-0 h-3/4 w-1/4" style="background-image: url('/crane-svgrepo-com.svg'); background-size: contain; background-repeat: no-repeat; background-position: bottom; right: 0; padding: 0; margin: 0;"></div>
		<h1 class="text-white text-7xl z-10 font-bold">Jason LaPierre</h1>
		<h3 class="text-white text-2xl z-10 font-sans italic">Check back later, I'm being built 🚧</h3>
	</main>
</Layout>

<style>

</style>
