---
import SpeedInsights  from "@vercel/speed-insights/astro";
import noiseSVG from "../images/noise.svg";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<SpeedInsights />
	<body>
	<div
		class={`fixed inset-0 pointer-events-none bg-cover`} style={`background-image: url('${noiseSVG['src']}');`}
	>	<slot />
	</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #f1f1f1;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		pointer-events: none;
		z-index: 50;
		background:
			linear-gradient(90deg, rgba(0, 0, 0, 0.02) 50%, transparent 50%),
			linear-gradient(0deg, rgba(0, 0, 0, 0.02) 50%, transparent 50%);
		background-size: 2px 2px;
		opacity: 0.3;
	}
</style>
